In [16]:
import numpy as np
import pandas as pd
from pathlib import Path
import dask.dataframe as dd

In [17]:
ir_dd = dd.accessor

In [10]:
DATA_DIR = Path("../data/BDIR7R/")
dtset = (DATA_DIR / "synthetic")
dtset = dtset.as_posix()

'../data/BDIR7R/synthetic'

In [14]:
df = pd.read_csv("../data/synthetic/synthetic_bdhs_10k.csv")
df.describe()

,age,education_years,anc_visits,skilled_delivery,facility_delivery,complications,sys_bp,dia_bp,heart_rate,glucose,district_id,preeclampsia_risk,gdm_risk,high_risk
count,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,31.071200,4.137200,3.89960,0.754400,0.773700,0.239700,126.148700,81.74150,79.11030,96.087400,33.440700,0.316000,0.086000,0.168200
std,9.974772,2.814279,2.06832,0.430464,0.418456,0.426922,13.719957,10.65592,10.45394,19.924419,18.704354,0.464936,0.280378,0.374062
min,15.000000,0.000000,0.00000,0.000000,0.000000,0.000000,80.000000,50.00000,50.00000,60.000000,1.000000,0.000000,0.000000,0.000000
25%,22.000000,1.000000,3.00000,1.000000,1.000000,0.000000,116.000000,74.00000,72.00000,83.000000,17.000000,0.000000,0.000000,0.000000
50%,31.000000,4.000000,4.00000,1.000000,1.000000,0.000000,127.000000,82.00000,78.00000,95.000000,34.000000,0.000000,0.000000,0.000000
75%,40.000000,6.000000,5.00000,1.000000,1.000000,0.000000,136.000000,89.00000,86.00000,107.000000,50.000000,1.000000,0.000000,0.000000
max,49.000000,12.000000,10.00000,1.000000,1.000000,1.000000,176.000000,113.00000,120.00000,163.000000,64.000000,1.000000,1.000000,1.000000

In [15]:
df.head()

,age,education_years,wealth_quintile,urban_rural,anc_visits,skilled_delivery,facility_delivery,complications,sys_bp,dia_bp,heart_rate,glucose,district_id,preeclampsia_risk,gdm_risk,high_risk
0,36,4,poorest,urban,5,1,1,0,129.0,83.0,94.0,124.0,22,0,0,0
1,16,4,richest,urban,3,1,1,0,107.0,71.0,105.0,65.0,58,0,0,0
2,32,5,richest,urban,5,1,1,1,147.0,78.0,86.0,60.0,29,1,0,0
3,21,5,richer,rural,1,1,1,0,116.0,91.0,69.0,86.0,50,1,0,0
4,18,6,richer,rural,2,1,1,1,153.0,98.0,97.0,78.0,39,1,0,1

['calibration',
 'clone',
 'cluster',
 'compose',
 'config_context',
 'covariance',
 'cross_decomposition',
 'datasets',
 'decomposition',
 'discriminant_analysis',
 'dummy',
 'ensemble',
 'exceptions',
 'experimental',
 'externals',
 'feature_extraction',
 'feature_selection',
 'frozen',
 'gaussian_process',
 'get_config',
 'impute',
 'inspection',
 'isotonic',
 'kernel_approximation',
 'kernel_ridge',
 'linear_model',
 'manifold',
 'metrics',
 'mixture',
 'model_selection',
 'multiclass',
 'multioutput',
 'naive_bayes',
 'neighbors',
 'neural_network',
 'pipeline',
 'preprocessing',
 'random_projection',
 'semi_supervised',
 'set_config',
 'show_versions',
 'svm',
 'tree']

In [8]:
dir(sklearn.manifold)

['ClassicalMDS',
 'Isomap',
 'LocallyLinearEmbedding',
 'MDS',
 'SpectralEmbedding',
 'TSNE',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_barnes_hut_tsne',
 '_classical_mds',
 '_isomap',
 '_locally_linear',
 '_mds',
 '_spectral_embedding',
 '_t_sne',
 '_utils',
 'locally_linear_embedding',
 'smacof',
 'spectral_embedding',
 'trustworthiness']